@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/344.jpg" width="1150" height="700" alt="mainImg" class="main__img">
<div class="main__text">
    <h1 class="main__text--title">Построй свое будущее вместе с нами</h1>
    <div class="main__text--subtitle">Быстрая и качественная разработка, подготовленый персонал. Поддержка и обслуживание</div>
</div>

<div class="main__personal" id="cons">
    <img src="~/img/6597434.jpg" alt="personaImg" width="1150" height="700" class="main__personal--img">
    <div class="main__personal_container">
        <h2 class="main__personal_container--title">Бесплатная консультация со специалистами</h2>
    </div>
</div>

<section class="bot">
    <div class="main__services_container" id="serv">
        <div class="services__container_item">
            <div class="services__container_item--title">Аналитика</div>
            <div class="services__container_item--price">от 20000 ₽</div>
            <a class="services__container_item--btn" asp-area="" asp-controller="Home" asp-action="Order">Заказать</a>
        </div>

        <div class="services__container_item">
            <div class="services__container_item--title">Разаработка макета БД</div>
            <div class="services__container_item--price">от 000000 ₽</div>
            <a class="services__container_item--btn" asp-area="" asp-controller="Home" asp-action="Order">Заказать</a>
        </div>

        <div class="services__container_item">
            <div class="services__container_item--title">Разработка и настройка БД</div>
            <div class="services__container_item--price">от 000000 ₽</div>
            <a class="services__container_item--btn" asp-area="" asp-controller="Home" asp-action="Order">Заказать</a>
        </div>

        <div class="services__container_item">
            <div class="services__container_item--title">Восстановление БД</div>
            <div class="services__container_item--price">от 000000 ₽</div>
            <a class="services__container_item--btn" asp-area="" asp-controller="Home" asp-action="Order">Заказать</a>
        </div>

    </div>
</section>
