.login {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.login_email,
.login_pass {
    outline: 0 !important;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Black);
    background: none;
    background-clip: padding-box;
    border: 1px solid var(--Secondcolor);
    border-radius: 20px;
}

.login_container {
    display:flex;
    gap:20px;
    justify-content:center;
}

.login_btn {
    outline: 0 !important;
    padding: 5px 10px;
    background: none;
    border: 1px solid var(--Secondcolor);
    border-radius: 20px;
    color: var(--Black);
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration:none;
}
