.registerPage {
    display: grid;
    gap: 20px;
    justify-content:center;
    align-items:center;
}

.registerPage_email,
.registerPage_year,
.registerPage_pass,
.registerPage_repass {
    outline: 0 !important;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Black);
    background: none;
    background-clip: padding-box;
    border: 1px solid var(--Secondcolor);
    border-radius: 20px;
}


.registerPage_btn {
    outline: 0 !important;
    margin-left: 90px;
    padding: 5px 10px;
    background: none;
    border: 1px solid var(--Secondcolor);
    border-radius: 20px;
    color: var(--Black);
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
